<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">Marcas</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<div id="list" class="spacer">
    
    <div class="single-products">
          <div class="productinfo text-center">
            <img class="h-25 w-25" src="https://store.intcomex.com/es-XEC/Image/Brand?p=a-data_logo_Small.png&sp=pi"  alt="" />
            <h2>A-data</h2>
            <p>A-data</p>
          </div>
        </div>

      <div class="single-products">
          <div class="productinfo text-center">
            <img class="h-25 w-25" src="https://store.intcomex.com/es-XEC/Image/Brand?p=AltecLansing.jpg&sp=pi"  alt="" />
            <h2>Altec Lasing</h2>
            <p>Altec Lasing</p>
          </div>
        </div>

        <div class="single-products">
          <div class="productinfo text-center">
            <img class="h-25 w-25" src="https://store.intcomex.com/es-XEC/Image/Brand?p=casemate.jpg&sp=pi"  alt="" />
            <h2>Case-Mate</h2>
            <p>Case-Mate</p>
          </div>
        </div>

        <div class="single-products">
          <div class="productinfo text-center">
            <img class="h-25 w-25" src="https://store.intcomex.com/es-XEC/Image/Brand?p=CNet.jpg&sp=pi"  alt="" />
            <h2>Cnet</h2>
            <p>Cnet</p>
          </div>
        </div>
    
        <div class="single-products">
          <div class="productinfo text-center">
            <img class="h-25 w-25" src="https://store.intcomex.com/es-XEC/Image/Brand?p=epson.jpg&sp=pi"  alt="" />
            <h2>Epson</h2>
            <p>Epson</p>
          </div>
        </div>        

        <div class="single-products">
          <div class="productinfo text-center">
            <img class="h-25 w-25" src="https://store.intcomex.com/es-XEC/Image/Brand?p=Hikvision-Small.png&sp=pi"  alt="" />
            <h2>Hikvision</h2>
            <p>Hikvision</p>
          </div>
        </div>  
        
        <div class="single-products">
          <div class="productinfo text-center">
            <img class="h-25 w-25" src="https://store.intcomex.com/es-XEC/Image/Brand?p=kingstonSmall.png&sp=pi"  alt="" />
            <h2>Kingston</h2>
            <p>Kingston</p>
          </div>
        </div> 
        
        <div class="single-products">
          <div class="productinfo text-center">
            <img class="h-25 w-25" src="https://store.intcomex.com/es-XEC/Image/Brand?p=Nexxt_Infrastructure_small.png&sp=pi"  alt="" />
            <h2>Nexxt Solutions Infrastructure</h2>
            <p>Nexxt Solutions Infrastructure</p>
          </div>
        </div> 
        
        <div class="single-products">
          <div class="productinfo text-center">
            <img class="h-25 w-25" src="https://store.intcomex.com/es-XEC/Image/Brand?p=Philips%20Logo.jpg&sp=pi"  alt="" />
            <h2>Philips</h2>
            <p>Philips</p>
          </div>
        </div> 

        <div class="single-products">
          <div class="productinfo text-center">
            <img class="h-25 w-25" src="https://store.intcomex.com/es-XEC/Image/Brand?p=Pinnacle%20Logo.jpg&sp=pi"  alt="" />
            <h2>Pinnacle</h2>
            <p>Pinnacle</p>
          </div>
        </div> 

        <div class="single-products">
          <div class="productinfo text-center">
            <img class="h-25 w-25" src="https://store.intcomex.com/es-XEC/Image/Brand?p=PRIMA%20ELECTRONICORP.png&sp=pi"  alt="" />
            <h2>Prima Electro</h2>
            <p>Prima Electro</p>
          </div>
        </div> 

        <div class="single-products">
          <div class="productinfo text-center">
            <img class="h-25 w-25" src="https://store.intcomex.com/es-XEC/Image/Brand?p=techzone.jpg&sp=pi"  alt="" />
            <h2>Techzone</h2>
            <p>Techzone</p>
          </div>
        </div> 

        <div class="single-products">
          <div class="productinfo text-center">
            <img class="h-25 w-25" src="https://store.intcomex.com/es-XEC/Image/Brand?p=Logo_Xtech.png&sp=pi"  alt="" />
            <h2>Xtech</h2>
            <p>Xtech</p>
          </div>
        </div> 

        <div class="single-products">
          <div class="productinfo text-center">
            <img class="h-25 w-25" src="https://store.intcomex.com/es-XEC/Image/Brand?p=zagg2.png&sp=pi"  alt="" />
            <h2>Zagg</h2>
            <p>Zagg</p>
          </div>
        </div> 

</div>

<script src="./listamarcas.js"> </script>
