
<!-- ============================================================== -->
<!-- Feature 1  -->
<!-- ============================================================== -->

  

  <!-- Modal Content -->
  <div class="container" >
    <div class="row flex-lg-nowrap">
        <div class="list-group" id="tipos" >
            <a class="list-group-item list-group-item-danger " id="1" data-toggle="list" role="tab" >Manejar productos</a> 
            <a class="list-group-item list-group-item-danger " id="2" data-toggle="list"  role="tab" >Reporte Servicios</a>
            <a class="list-group-item list-group-item-danger " id="3" data-toggle="list"  role="tab" routerLink="/pie"> Grafico por categoria</a> 
            <a class="list-group-item list-group-item-danger " id="4" data-toggle="list"  role="tab" routerLink="/bar"> Grafico por ciudad </a> 
            <a class="list-group-item list-group-item-danger " id="5" data-toggle="list"  role="tab" routerLink="/scatter"> Grafico por solicitud </a> 
        </div>
        <div class="col" id="reporteoproducto">
  
            <div class="container"  >
                <div class="row flex-lg-nowrap">
                  <div class="col">
                    <div class="row flex-lg-nowrap">
                      <div class="col mb-3">
                        <div class="e-panel card">
                          <div class="card-body">
                            <div class="card-title">
                              <h6 class="mr-2"><span>Clientes</span></h6>
                            </div>
                            <div class="e-table">
                              <div class="table-responsive table-lg mt-3">
                                <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th class="max-width">Nombre</th>
                                      <th class="sortable">Precio</th>
                                      <th>Stock </th>
                                      <th>link </th>
                                      <th>Categoria </th>
                                      <th>Marca</th>
                                      <th>Acciones</th>
                                    </tr>
                                  </thead>
                                  <tbody id="productos">
                                    
                                    
                                    
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-3 mb-3">
                        <div class="card">
                          <div class="card-body">
                            <div class="text-center px-xl-3">
                              <button class="btn btn-success btn-block" type="button" data-toggle="modal" onclick="document.getElementById('user-form-modal').style.display='block'">Nuevo producto</button>
                            </div>
                            <hr class="my-3">
                            <div class="e-navlist e-navlist--active-bold">
                            </div>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- User Form Modal -->
                    <div class="modal" role="dialog" tabindex="-1" id="user-form-modal">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="addoact">a</h5>
                            <button type="button" class="close" onclick="document.getElementById('user-form-modal').style.display='none'">
                            <span aria-hidden="true">×</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="py-1">
                              <form class="form" novalidate="">
                                <div class="row">
                                  <div class="col">
                                    
                                    <!-- Nombre y Apellido -->
                                    <div class="row">
                                      <div class="col">
                                        <div class="form-group">
                                          <label>Nombre</label>
                                          <input class="form-control" id="nombreValue" type="text" name="name" >
                                        </div>
                                      </div>
                                      <div class="col">
                                        <div class="form-group">
                                          <label>Categoria</label>
                                          <input class="form-control" id="categoriaValue" type="text" name="lastname" >
                                        </div>
                                      </div>
                                    </div>
                                    
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col">
                                    
                                    <!-- Fecha de nacimiento y estado -->
                                    <div class="row">
                                      <div class="col">
                                        <div class="form-group">
                                          <label>Stock</label>
                                          <input class="form-control" id="stockValue" type="text" name="lastname" >
                                        </div>
                                      </div>
                                      
                                      <!-- -->
                                      <div class="col">
                                        <div class="form-group">
                                          <label>Link de la imagen</label>
                                          <input class="form-control" id="linkValue" type="text" name="lastname" >
                                        </div>
                                      </div>
                                      <!-- -->
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col">
                                    
                                      <div class="row">
                                          <div class="col">
                                            <div class="form-group">
                                              <label>Precio</label>
                                              <input class="form-control" id="precioValue" type="text" name="lastname" >
                                            </div>
                                            
                                          </div>
                                          <div class="col">
                                              <div class="form-group">
                                                <label>Marca</label>
                                                <input class="form-control" id="marcaValue" type="text" name="lastname" >
                                              </div>
                                            </div>
                                        </div>
                                    <div class="col d-flex justify-content-end">
                                      <button class="btn btn-primary" type="submit" id="addoactb">a</button></div>
                                    </div>
                                  </div>
                                
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>

          <div id="contenedorGrafico1">  </div>     

  </div>

  
  

<!-- ============================================================== -->
<!-- End Feature 1  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Call to action -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- End Call to action -->
<!-- ============================================================== -->