<div class="footer4 b-t spacer list-unstyled">
  <div class="row d-flex justify-content-around">
    <div class="col-  copyright">
      <h1>Productos</h1>
      <li>Computo</li>
      <li>Redes</li>
      <li>Electronica</li>
      <li>Seguridad</li>
    </div>
    <div class="col- copyright text-center">
      <h1>Locales</h1>
      <div class="row d-flex justify-content-between">
        <div class="col- text-center">
          <h5>Guayaquil</h5>
          <li>Contactenos: xxxxxxxx</li>
          <li>Direccion: mz xxxxxx</li>  
        </div>
        <div class="col- text-center">
          <h5>Quito</h5>
          <li>Contactenos: xxxxxxxx</li>
          <li>Direccion: mz xxxxxx</li>  
        </div>
      </div>
    </div>
    <div class="col- copyright">
      <h1>Contactenos</h1>
      <li>Email:</li>
      <li>xxxxxxx</li>
      <li>Redes Sociales: </li>
      <li>mz xxxxxx</li>  
    </div>

  </div>
</div>
