<div class="footer4 b-t spacer list-unstyled bg-dark">
  <div class="row d-flex flex-wrap justify-content-around text-center text-light">
    <div class="col-  copyright">
      <h1 class="text-light">Productos</h1>
      <li>Computo</li>
      <li>Redes</li>
      <li>Electronica</li>
      <li>Seguridad</li>
    </div>
    <div class="col- copyright text-center">
      <h1 class="text-light">Locales</h1>
      <div class="flex-row d-flex justify-content-between">
        <div class="col- ">
          <h5 class="text-light">Guayaquil</h5>
          <li>Contactenos: xxxxxxxx</li>
          <li class="mr-3">Direccion: mz xxxxxx</li>  
        </div>
        <div class="flex-row d-flex ml-3 justify-content-between">
          <div class="col-">
          <h5 class="text-light">Quito</h5>
          <li>Contactenos: xxxxxxxx</li>
          <li class="mr-3">Direccion: mz xxxxxx</li>  
          </div>
        </div>
      </div>
    </div>
    <div class="col- copyright">
      <h1 class="text-light">Contactenos</h1>
      <h5 class="text-light">Email:</h5>
      <li>edamatel@gmail.com</li>
      <h5 class="text-light mt-2">Redes Sociales: </h5>
      <div class="round-social light">
        <a routerLink="#" class="link"><i class="fa fa-facebook"></i></a>
        <a routerLink="#" class="link"><i class="fa fa-instagram"></i></a>
      </div>
    </div>

  </div>
</div>
