<div class="collapse navbar-collapse hover-dropdown font-14" id="h6-info">
    <ul class="navbar-nav align-items-center">
        <li class="nav-item" [routerLinkActive]="['desactivate']">
            <a class="nav-link" routerLink="/">
                Inicio
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/about">
                Nosotros
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/computo">
                Computo
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/Redes">
                Redes
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/Electronica">
                Electronica
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/Seguridad">
                Seguridad
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/servicios">
                Servicios
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/marcas">
                Marcas
            </a>
        </li>
    </ul>

</div>