<div class="topbar" id="top">
    <div class="header6 d-flex justify-content-between">
        <div class="row ml-3">
        <a class="navbar-brand " routerLink="">
            <img class="img-top" src="assets/images/logos/edamatel.png" alt="edamatel" />
        </a>    
        </div>  
        <div class="row mr-3">
            <div class="round-social light">
              <a routerLink="#" class="link"><i class="fa fa-facebook"></i></a>
              <a routerLink="#" class="link"><i class="fa fa-twitter"></i></a>
              <a routerLink="#" class="link"><i class="fa fa-google-plus"></i></a>
              <a routerLink="#" class="link"><i class="fa fa-youtube-play"></i></a>
              <a routerLink="#" class="link"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="headernav">   
        <div class="row ml-3">
            <nav class="navbar navbar-expand-lg h6-nav-bar">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#h6-info"
                    aria-controls="h6-info" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="ti-menu"></span>
                </button>
                <app-banner-navigation></app-banner-navigation>
            </nav>
        </div>

        <div class="row list-unstyled mr-3" id="botonesTipoCuenta">        
                <li class="nav-item ">
                    <a id= "login_btn" onclick="document.getElementById('id_login').style.display='block'" class="btn-top btn-danger-gradiant font-14" >
                        Ingresar
                    </a>
                </li>
                <li class="nav-item ">
                    <a id = "registrar_btn" onclick="document.getElementById('id_registrar').style.display='block'" class="btn-top btn-danger-gradiant font-14">
                        Hacerse Cliente
                    </a>
                </li>
        </div>
    </div>    
</div>

<div id="id_login" class="modal">
    <span onclick="document.getElementById('id_login').style.display='none'"
    class="close" title="Close Modal">&times;</span>

    <!-- Modal Content -->
    <form id = "login_form" (ngSubmit)="onSubmit_Login(user_name.value, pass.value)" class="modal-content animate" action="/action_page.php">
      <div class="imgcontainer">
        <img src="assets/images/logos/logo_login.png" alt="Avatar" class="avatar">
        <h1>Iniciar sesión</h1>
      </div>

      <div class="container">
        <label for="uname"><b>Usuario</b></label>
        <input #user_name id= "login_username" type="text" placeholder="Ingrese su usuario" name="uname" required>

        <label for="psw"><b>Contraseña</b></label>
        <input #pass id = "login_password" type="password" placeholder="Ingrese su contraseña" name="psw" required>

        <button id="login_submit_btn" type="submit">Iniciar sesión</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Recordarme
        </label>
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id_login').style.display='none'" class="cancelbtn">Cancelar</button>
        <span class="psw">Olvidaste tu <a href="#">contraseña?</a></span>
      </div>
    </form>
</div>

<div id="id_registrar" class="modal">
    <span onclick="document.getElementById('id_registrar').style.display='none'"
    class="close" title="Close Modal">&times;</span>

    <!-- Modal Content -->
    <form id="login_register" class="modal-content animate" action="/action_page.php" method="POST">
      <div class="imgcontainer">
        <img src="assets/images/logos/logo_registro.png" alt="Avatar" class="avatar">
        <h1>Registrarme como cliente</h1>
      </div>

      <div class="container">

        <label for="nname"><b>Nombre</b></label>
        <input id="nombreusuarioValue" type="text" placeholder="Ingrese su nombre" name="nname" required>
        
        <label for="lastname"><b>Apellido</b></label>
        <input id="apellidoValue" type="text" placeholder="Ingrese su apellido" name="lastname" required>

        <label for="cedula"><b>Cedula</b></label>
        <input id="cedulaValue" type="text" placeholder="Ingrese su cedula" name="cedula" required>

        <label for="mail"><b>Correo electrónico</b></label>
        <input id="correoValue" type="text" placeholder="Ingrese su correo electrónico" name="mail" required>

        <label for="telef"><b>Numero telefonico</b></label>
        <input id="telefonoValue" type="text" placeholder="Ingrese su correo numero telefonico" name="telef" required>

        <label for="ciudad"><b>Ciudad</b></label>
        <input id="ciudadValue" type="text" placeholder="Ingrese la ciudad donde reside" name="ciudad" required>

        <label for="dic"><b>Dirección</b></label>
        <input id="direccionValue" type="text" placeholder="Ingrese su dirección" name="dic" required>
        
        <label for="uname"><b>Usuario</b></label>
        <input id="usuarioValue" type="text" placeholder="Ingrese su nuevo usuario" name="uname" required>

        <label for="psw"><b>Contraseña</b></label>
        <input id="contraseñaValue" type="password" placeholder="Ingrese su nueva contraseña" name="psw" required>

        <label for="r_psw"><b>Repetir contraseña</b></label>
        <input id="contraseñaValidaValue" type="password" placeholder="Vuelva a ingresar la contraseña" name="r_psw" required>

        <label for="udate"><b>Fecha de nacimiento</b></label>
        <input id="fechaNacimientoValue" type="date" placeholder="Ingrese su fecha de nacimiento"  name= "udate" required>

        <button id="submit_registrar_btn" type="submit">Registrarme</button>

        <label>
          <input type="checkbox" checked="checked" name="remember"> Recordarme
        </label>
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id_registrar').style.display='none'" class="cancelbtn">Cancelar</button>
        <span class="psw">Olvidaste tu <a href="#">contraseña?</a></span>
      </div>
    </form>
</div>