<div
  class="static-slider-head img-fluid" alt="Responsive image"
  style="background-image: url(assets/images/landingpage/banner-pos.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 flex-wrap col-md-6 align-self-center text-center no-trans">
        <div class="col- flex-wrap">
        <h1 class="title text-crimson">Bienvendido a Edamatel Web</h1>
      </div>
        <h5 class="subtitle  op-7 bg-dark text-light ">
          Redes de datos🌐 Cableado estructurado🏭 CCTV🏠 Nuestro objetivo es hacer de este negocio, el mejor negocio..¡¡
        </h5>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<div class="bg-light  feature1">
  <div class="container">
    <!-- Row  -->
    <app-relay-on></app-relay-on>
  </div>
</div>
  
