<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="fcol-lg-9 fcol-md-6 no-trans align-self-center text-center">
        <h1 class="title">Nosotros</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->

<div class="spacer feature22">
  <div class="container">
    <app-top-content></app-top-content>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Feature 22  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Feature 1  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- End Feature 1  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Call to action -->
<!-- ============================================================== -->

 
<div class="container">
	<section class="features-list" id="features">
			<div class="container-fluid">
				<div class="row">
					<div class="fcol-md-12 ">
						<div class="fcol-md-4 feature-1 ">
							<div class="feature-icon">
								<i class="fa fa-wrench"></i>
							</div>
							<div class="feature-content">
								<h1>Equipo de desarrollo</h1>
								<p>Nuestro equipo de desarrollo esta conformado por:</p>
									<p class="subrayado">Tyrone Eduardo Rodríguez Motato: </p>
									<p>Lider de desarrollo. Ingeniería en computación, <br>
									6to Semestre.  <br></p>
									<p class="subrayado">Ricardo Mitridates Zevallos Mosquera: </p>
									
									<p> Desarrollador. Ingenieria en computación, <br>
									 7mo Semestre.	</p>

									 <p class="subrayado">Jorge Daniel Villalta Vega: </p>
									
									 <p> Desarrollador. Ingenieria en computación, <br>
										8vo Semestre.	</p>

										<p class="subrayado">María Alexandra Ramos Plúas: </p>
									
										<p> Desarrolladora. Ingenieria en computación, <br>
										 7mo Semestre.	</p>
										
							</div>
						</div>
					</div>
					<div class="col-sm-1 col-md-offset-2"></div>
					<div class="fcol-md-4 feature-2 ">
						<div class="feature-icon">
							<i class="fa fa-map-marker"></i>
						</div>
						<div class="feature-content">
							<h1>Ubicación de trabajo</h1>
							<p>El equipo de desarrollo se ubica en Espol.</p>
							<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15948.058677917108!2d-79.9644896!3d-2.1480702!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x327cdb9f7f4ba3b2!2sEscuela%20Superior%20Polit%C3%A9cnica%20del%20Litoral%20(ESPOL)!5e0!3m2!1ses!2sec!4v1638494610802!5m2!1ses!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
						</div>
					</div>


					
				</div>
		</div>
	</section>
</div>


<!-- ============================================================== -->
<!-- End Call to action -->
<!-- ============================================================== -->
