<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">Servicios</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->
<div class="container ">
  <div class="d-flex  flex-column text-center spacer pb-4">
    <!-- Column -->
    <div class="wrap-feature1-box">
        <div class="card card-shadow border border-danger" data-aos="fade-right" data-aos-duration="1200">
            <div class="card-body p-40 text-center d-flex flex-row ml-2 align-items-center">
                <div class="col- icon-space display-2 m-t-20">
                    <i class="sl-icon-wrench icon-color-red"></i>
                </div>
                <h5 class="col- font-medium  ml-2">Servicios</h5>
                <p class="col- m-b-0 ml-2">
                    En edmatel le ofrecemos servicios de mantenimiento, instalación y reparacion de productos relacionados con las redes, seguridad y telemática. Si requuiere cualquiera de estos servicios no dude en contactarnos por nuestras redes sociales o mediante el formulario presentado en esta página. Le contactaremos por alguno de estos medios proporcionados para coordinar el servicio.

                </p>
            </div>
        </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- Feature 1  -->
<!-- ============================================================== -->

  <div class="container border border-danger pt-3">
    <!-- Row  -->
    <form>
        <div class="form-group ">
            <label for="inputNombre">Nombre</label>
            <input type="Nombre" class="form-control" id="InputNombre" >
          </div>
          <div class="form-group">
              <label for="inputEmpresa">Empresa</label>
              <input type="Empresa" class="form-control" id="InputEmpresa" >
            </div>
            <div class="form-group">
                <label for="inputTelefono">Telefono</label>
                <input type="telefono" class="form-control" id="inputTelefono">
              </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Correo electronico</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Tipo de servicio</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Instalación</option>
          <option>Reparación</option>
          <option>Mantenimiento</option>

        </select>
      </div>


      <div class="form-group">
        <label for="exampleFormControlTextarea1">Descripcion de servicio requerido</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" ></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea2">Ubicación y referencias</label>
        <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
      </div>
      
    </form> 
  </div>
  <div class="container d-flex justify-content-center spacer">
      <button type="submit" class=" btn btn-crimson ">Enviar Formulario</button>
    </div>
<!-- ============================================================== -->
<!-- End Feature 1  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Call to action -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- End Call to action -->
<!-- ============================================================== -->