<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">Servicios</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->
<div class="container ">
  <div class="d-flex  flex-column text-center spacer pb-4">
    <!-- Column -->
    <div class="wrap-feature1-box">
        <div class="card card-shadow border border-danger" data-aos="fade-right" data-aos-duration="1200">
            <div class="card-body p-40 text-center d-flex flex-row ml-2 align-items-center">
                <div class="col- icon-space display-2 m-t-20">
                    <i class="sl-icon-wrench icon-color-red"></i>
                </div>
                <h5 class="col- font-medium  ml-2">Servicios</h5>
                <p class="col- m-b-0 ml-2">
                    En edmatel le ofrecemos servicios de mantenimiento, instalación y reparacion de productos relacionados con las redes, seguridad y telemática. Si requuiere cualquiera de estos servicios no dude en contactarnos por nuestras redes sociales o mediante el formulario presentado en esta página. Le contactaremos por alguno de estos medios proporcionados para coordinar el servicio.

                </p>
            </div>
        </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- Feature 1  -->
<!-- ============================================================== -->

<form name="formulario" netlify>
    <label for="inputNombre">Nombre</label>
    <input type="text" class="form-control" name="inputNombre" required>

    <label for="inputEmpresa">Empresa</label>
    <input type="text" class="form-control" name="inputEmpresa" required>

    <button id="enviarFormularios" type="submit" class= "btn btn-crimson" routerLink= "/"> Enviar Formulario</button>
</form> 

<form name="formulario" netlify>
  <div class="container border border-danger pt-3">
      <div class="form-group">
            <label for="inputNombre">Nombre</label>
            <input type="text" class="form-control" name="inputNombre" required>

            <label for="inputEmpresa">Empresa</label>
            <input type="text" class="form-control" name="inputEmpresa" required>
  
            <label for="inputTelefono">Telefono</label>
            <input type="tezt" class="form-control" name="inputTelefono" required>

            <label for="inputCorreo">Correo electronico</label>
            <input type="text" class="form-control" name="inputCorreo" placeholder="nombre@ejemplo.com" required>


            <label for="inputServicio">Tipo de servicio</label>
            <select class="form-control" name="inputServicio">
              <option>Instalación</option>
              <option>Reparación</option>
              <option>Mantenimiento</option>
            </select>

            <label for="inputDescripcion">Descripcion de servicio requerido</label>
            <textarea type="text" class="form-control" name="inputDescripcion" rows="3" ></textarea>
      
            <label for="inputUbicacion">Ubicación y referencias</label>
            <textarea type="text" class="form-control" id="inputUbicacion" rows="3"></textarea>
      </div>
  </div>
  <div class="container d-flex justify-content-center spacer">
      <button id="enviarFormulario" type="submit" class= "btn btn-crimson" routerLink= "/"> Enviar Formulario</button>
  </div>
  </form> 

<!-- ============================================================== -->
<!-- End Feature 1  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Call to action -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- End Call to action -->
<!-- ============================================================== -->