<div class="d-flex  flex-column text-center spacer    ">
    <!-- Column -->
    <div class="wrap-feature1-box">
        <div class="card card-shadow border border-danger" data-aos="fade-right" data-aos-duration="1200">
            <div class="card-body p-40 text-center d-flex flex-row ml-2 align-items-center">
                <div class="fcol- icon-space display-2 m-t-20">
                    <i class="sl-icon-home icon-color-red"></i>
                </div>
                <h5 class="fcol- font-medium  ml-2">¿Quienes Somos?</h5>
                <p class="fcol- m-b-0 ml-2">
                    La descripcion de una campaña es la introduccion a tu negocio. Ademas de comunicar los productos y servicios que vendes, debe transmitir la razon por la cual los vendes y los valores de tu empresa.
                </p>
            </div>
        </div>
    </div>
    <div class="wrap-feature1-box">
        <div class="card card-shadow border border-danger" data-aos="fade-right" data-aos-duration="1200">
            <div class="card-body p-40 text-center d-flex flex-row ml-2 align-items-center">
                <div class="fcol- icon-space display-2 m-t-20">
                    <i class="sl-icon-bubble icon-color-red"></i>
                </div>
                <h5 class="fcol- font-medium ml-3 ">Ofrecemos</h5>
                
                <div id = "espacio" class="ml-5 fcol-9 d-flex flex-wrap display-6 align-content-start">
                    <div class="p-4 ml-2">
                        <i class="sl-icon-mouse"></i>
                        <h5 class="font-medium"> Computo</h5>
                    </div>
                    <div class="ml-2">
                        <i class="sl-icon-graph"></i>
                        <h5 class="font-medium"> Redes</h5>
                    </div>
                    <div class="p-4 ml-2">
                        <i class="sl-icon-rocket"></i>
                        <h5 class="font-medium"> Electronico</h5>
                    </div>
                    <div class="ml-2">
                        <i class="sl-icon-lock"></i>
                        <h5 class="font-medium"> Seguridad</h5>
                    </div>      
                    <div class="p-4 ml-2">
                        <i class="sl-icon-settings"></i>
                        <h5 class="font-medium"> Instalaciones</h5>
                    </div>       
                </div>
            </div>
        </div>
    </div>
    <div class="wrap-feature1-box">
        <div class="card card-shadow border border-danger" data-aos="fade-right" data-aos-duration="1200">
            <div class="card-body p-40 text-center d-flex flex-row ml-2 align-items-center">
                <div class="fcol- icon-space display-2 m-t-20">
                    <i class="sl-icon-map icon-color-red"></i>
                </div>
                <h5 class="fcol- font-medium ml-3">Marcas</h5>
                <div id = "espacio2" class=" ml-5 fcol-9 d-flex flex-wrap display-6 align-content-start">
                    <img class="img-top ml-2" src="assets/images/marcas/sony.png" alt="">
                    <img class="img-top ml-2" src="assets/images/marcas/microsoft.png" alt="">
                    <img class="foto " src="https://store.intcomex.com/es-XEC/Image/Brand?p=casemate.jpg&sp=pi" alt="">
                    <img class="foto "src="https://store.intcomex.com/es-XEC/Image/Brand?p=CNet.jpg&sp=pi" alt="">
                    <img class="foto " src="https://store.intcomex.com/es-XEC/Image/Brand?p=Philips%20Logo.jpg&sp=pi" alt="">
                    <img class="foto " src="https://store.intcomex.com/es-XEC/Image/Brand?p=PRIMA%20ELECTRONICORP.png&sp=pi" alt="">
                    <img class="foto "src="https://store.intcomex.com/es-XEC/Image/Brand?p=AltecLansing.jpg&sp=pi" alt="">
                </div>
            </div>
        </div>
    </div>
</div>