<div class="row wrap-feature-22">
  <!-- Column -->
  <section class="features-intro">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 nopadding">
          <div class="features-slider">
              <ul class="slides" id="featuresSlider">
                <li>
                  <h1>Quienes somos</h1>
                  <p>Edmatel es una empresa en la que brindamos ventas y distintos servicios relacionados con las redes, computo, electrónica y segurdad. </p>
                </li>
                <li>
                  <h1>Servicios</h1>
                  <p>Podemos proporcionar instalaciones, chequeos, reparacioones y mantenimientos de los distintos sistemas o productos que puedan estar dando problemas. 
                    Puede contactarnos por nuestras distintas redes sociales o mediante el apartado servicios de nuestra página.
                  </p>
                </li>
                <li>
                  <h1>Venta de productos</h1>
                  <p>Proporcionamos productos de diferentes marcas con las que trabajamos para ofrecer la mejor calidad a nuestros clientes. De ser necesario, 
                    todo producto que se compre con nostros contará la opción de venir con una instalación por un módico precio.</p>

                </li>
              </ul>
          </div>
        </div>
        <div class= "col-md-6 rounded mx-auto d-block d-flex align-items-center" > 
          <img class= "w-100 h-75" id="imagen-piso" src="https://static.wixstatic.com/media/6ef2e4_130cefcedabb4b53a0190600ed145602~mv2.png/v1/fill/w_462,h_308,al_c,q_85,usm_0.66_1.00_0.01/INSTALACION%20DE%20REDES.webp">
        </div>
      </div>
    </div>
  </section>
  <!-- Column -->
</div>
