<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">Computo</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>



<section>
      <div class="d-flex flex-row">
        <div class="p-2 bd-highlight bg-dark w-50 ">
          <div class="left-sidebar p-10">
            <div class="brands_products"><!--brands_products-->
              <h5 class="text-light">Accesorios para computadora</h5>
              <div class="brands-name d-flex flex-column nav ">
                  <li><a routerLink="/computo"> <span class="pull-right"></span>Cables</a></li>
                  <li><a routerLink="/computo"> <span class="pull-right"></span>Mouse Pads y Wrist Pads</a></li>
                  <li><a routerLink="/computo"> <span class="pull-right"></span>Accesorios para Portátiles</a></li>
                  <li><a routerLink="/computo"> <span class="pull-right"></span>Accesorios para servidores</a></li>
                  <li><a routerLink="/computo"> <span class="pull-right"></span>Seguridad</a></li>
              </div>
              <h5 class="text-light" >Computadores</h5>
              <div class="Computadores-name d-flex flex-column nav">
                  <li><a routerLink="/computo"> <span class="pull-right"></span>Todo-en-Uno</a></li>
                  <li><a routerLink="/computo"> <span class="pull-right"></span>Computadores de Mesa</a></li>
                  <li><a routerLink="/computo"> <span class="pull-right"></span>Portátiles</a></li>
                  <li><a routerLink="/computo"> <span class="pull-right"></span>Servidores</a></li>
                  <li><a routerLink="/computo"> <span class="pull-right"></span>Tableta</a></li>
                
              </div>
            </div><!--/brands_products-->
            
          </div>
        </div>
  
        
        <div class="Producto p-2 bd-highlight d-flex flex-row flex-column padding-right">  
            <h2 class="titleproducto text-center bd-highlight ">Productos</h2>
            
            <div class="input-group rounded pb-5 pt-2">
              <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
              aria-describedby="search-addon" />
              <span class="input-group-text border-0" id="search-addon">
                <i class="sl-icon-loop"></i>
              </span>
            </div>
            

            <div class="features_items"><!--features_items-->

            <div class="p-2 bd-highlight">
                <div class="single-products">
                  <div class="productinfo text-center">
                    <img class="h-25 w-25" src="assets\images\product\cable1.jpg"  alt="" />
                    <h2>Xtech</h2>
                    <p>Xtech - VGA cable - VGA (Male) Spliter</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>                  </div>
                </div>
            </div>

            <div class="p-2 bd-highlight">
                <div class="single-products">
                  <div class="productinfo text-center">
                    <img class="h-25 w-25" src="assets\images\product\cable2.jpg"  alt="" />
                    <h2>Xtech</h2>
                    <p>Xtech - VGA cable - VGA (Male) Spliter</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>                  </div>  
              </div>
            </div>

            <div class="p-2 bd-highlight">
                <div class="single-products">
                  <div class="productinfo text-center">
                    <img class="h-25 w-25" src="assets\images\product\Notebook1.jpg"  alt="" />
                    <h2>HP</h2>
                    <p>HP - Notebook - 15" - AMD Ryzen 3 4300U - 8 GB - 256 GB - Windows 10 Home - 1-year warranty</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>                  </div>               
              </div>
            </div>

            <div class="p-2 bd-highlight">
                <div class="single-products">
                  <div class="productinfo text-center">
                    <img class="h-25 w-25" src="assets\images\product\pc1.jpg"  alt="" />
                    <h2>HP</h2>
                    <p>HP - AIO 205 G4 - Actualizable a Windows 11 - 21.5" HD no Touch - AMD Athlon Silver 2.3 a 3.2Ghz 2Core</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>                  </div>                                             
              </div>
            </div>    
            
            <div class="p-2 bd-highlight">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img class="h-25 w-25" src="assets\images\product\pc1.jpg"  alt="" />
                  <h2>HP</h2>
                  <p>HP - AIO 205 G4 - Actualizable a Windows 11 - 21.5" HD no Touch - AMD Athlon Silver 2.3 a 3.2Ghz 2Core</p>
                  <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>                </div>                                             
            </div>
          </div>   

          <div class="p-2 bd-highlight">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="assets\images\product\servidor1.png"  alt="" />
                <h2>HPE</h2>
                <p>HPE ProLiant DL580 Gen9 High Performance - Servidor - se puede montar en bastidor - 4U - 4 vías</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
              </div>                                
            </div>
          </div>           
 


          <div class="p-2 bd-highlight">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="assets\images\product\mouse1.jpg"  alt="" />
                <h2>HP</h2>
                <p>HP - Mouse - Wireless - Silver - 200</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
              </div>                                
            </div>
          </div>                 

          <div class="p-2 bd-highlight">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="assets\images\product\mouse2.jpg"  alt="" />
                <h2>HP</h2>
                <p>HP - Mouse - Wireless - Silver - 200</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
              </div>                                
            </div>  
          </div>               

          <div class="p-2 bd-highlight">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="assets\images\product\Tablets1.jpg"  alt="" />
                <h2>HP</h2>
                <p>Hewlett-Packard - HP Slate 2 Tablet PC Atom 1.5Ghz 2GB/64 GB 8.9"</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
              </div>                                
            </div>
          </div>                 

          <div class="p-2 bd-highlight">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="assets\images\product\Tablets2.jpg"  alt="" />
                <h2>HP</h2>
                <p>AOC - AOC 9" MW0922-GC Tablet G2.5 MultiTouch/Android 4.X/HDMI</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
              </div>                                
            </div>   
          </div>              

          <div class="p-2 bd-highlight">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="assets\images\product\accesorio1.jpg"  alt="" />
                <h2>HPE</h2>
                <p>HPE - Kit de biseles para caja del sistema - para ProLiant ML350e Gen8, ML350p Gen8</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
              </div>                                
            </div>  
          </div>               

          <div class="p-2 bd-highlight">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="assets\images\product\accesorio2.jpg"  alt="" />
                <h2>HPE</h2>
                <p>HPE - Kit de biseles para caja del sistema - para ProLiant ML350e Gen8, ML350p Gen8</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
              </div>                                
            </div>              
          </div>   


          <div class="p-2 bd-highlight">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="assets\images\product\cable3.jpg"  alt="" />
                <h2>Belkin</h2>
                <p>Belkin Ultra-Slim Travel - Hub - 4 x USB 2.0 -</p>
                <a href="#" class="btn btn-default add-to-cart text-black"><i class="fa fa-shopping-cart"></i>Add to cart</a>
              </div>                                
            </div>     
          </div>   


          </div>    
            

          </div><!--features_items-->
        </div>
    
  </section>

