<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">Computo</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="left-sidebar">
        
          <h5>Accesorios para computadora</h5>
          <div class="accesoriosC-name">
            <ul class="nav nav-pills nav-stacked">
              <li><a href=""> <span class="pull-right"></span>Cables</a></li>
              <li><a href=""> <span class="pull-right"></span>Mouse Pads y Wrist Pads</a></li>
              <li><a href=""> <span class="pull-right"></span>Accesorios para Portátiles</a></li>
              <li><a href=""> <span class="pull-right"></span>Accesorios para servidores</a></li>
              <li><a href=""> <span class="pull-right"></span>Seguridad</a></li>
            </ul>
          </div>
        </div><!--/brands_products-->
        
        <h5>Computadores</h5>
          <div class="Computadores-name">
            <ul class="nav nav-pills nav-stacked">
              <li><a href=""> <span class="pull-right"></span>Todo-en-Uno</a></li>
              <li><a href=""> <span class="pull-right"></span>Computadores de Mesa</a></li>
              <li><a href=""> <span class="pull-right"></span>Portátiles</a></li>
              <li><a href=""> <span class="pull-right"></span>Servidores</a></li>
              <li><a href=""> <span class="pull-right"></span>Tableta</a></li>
             
            </ul>
          </div>
        </div><!--/brands_products-->
                   
        
        
      </div>
    </div>
<!-- ============================================================== -->
<!-- Feature 1  -->
<!-- ============================================================== -->
<div class="col-sm-9 padding-right">
  <div class="features_items"><!--features_items-->
    <h2 class="title text-center">Features Items</h2>
           
    <div class="col-sm-4">
      <div class="product-image-wrapper">
        <div class="single-products">
          <div class="productinfo text-center">
            <img src="assets\images\product\cable1.jpg" alt="" />
            <h2>Xtech</h2>
            <p>Xtech - VGA cable - VGA (Male) Spliter</p>
            <input type="button" onclick="location.href='registro.html';" value="comprar" />
          </div>
          
        </div>
      </div>  
    </div>
    <div class="col-sm-4">
      <div class="product-image-wrapper">
        <div class="single-products">
          <div class="productinfo text-center">
            <img src="assets\images\product\cable2.jpg" alt="" />
            <h2>Xtech</h2>
            <p>Xtech - VGA cable - VGA (Male) Spliter</p>
            <input type="button" onclick="location.href='registro.html';" value="comprar" />
          </div>
          
        </div>
      </div>  
    </div>
    <div class="col-sm-4">
      <div class="product-image-wrapper">
        <div class="single-products">
          <div class="productinfo text-center">
            <img src="assets\images\product\Notebook1.jpg" alt="" />
            <h2>Xtech</h2>
            <p>Xtech - VGA cable - VGA (Male) Spliter</p>
            <input type="button" onclick="location.href='registro.html';" value="comprar" />
          </div>
          
        </div>
      </div>  
    </div>
    <div class="col-sm-4">
      <div class="product-image-wrapper">
        <div class="single-products">
          <div class="productinfo text-center">
            <img src="assets\images\product\pc1.jpg" alt="" />
            <h2>Xtech</h2>
            <p>Xtech - VGA cable - VGA (Male) Spliter</p>
            <input type="button" onclick="location.href='registro.html';" value="comprar" />
          </div>
          
        </div>
      </div>  
    </div>
 
   
    
    <ul class="pagination">
      <li class="active"><a href="">1</a></li>
      <li><a href="">2</a></li>
      <li><a href="">3</a></li>
      <li><a href="">&raquo;</a></li>
    </ul>
  </div><!--features_items-->
</div>
  

<!-- ============================================================== -->
<!-- End Feature 1  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Call to action -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- End Call to action -->
<!-- ============================================================== -->
