<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">Computo</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>



<section>
      <div class="d-flex flex-row">
        <div class="p-2 bd-highlight bg-dark w-50 ">
          <div class="left-sidebar p-10">
            <div class="brands_products"><!--brands_products-->
              <h5 class="text-light">Accesorios para computadora</h5>
              <div class="brands-name d-flex flex-column nav ">
                  <li><a routerLink="/computo"> <span class="pull-right"></span>Cables</a></li>
                  <li><a routerLink="/computo"> <span class="pull-right"></span>Mouse Pads y Wrist Pads</a></li>
                  <li><a routerLink="/computo"> <span class="pull-right"></span>Accesorios para Portátiles</a></li>
                  <li><a routerLink="/computo"> <span class="pull-right"></span>Accesorios para servidores</a></li>
                  <li><a routerLink="/computo"> <span class="pull-right"></span>Seguridad</a></li>
              </div>
              <h5 class="text-light" >Computadores</h5>
              <div class="Computadores-name d-flex flex-column nav">
                  <li><a routerLink="/computo"> <span class="pull-right"></span>Todo-en-Uno</a></li>
                  <li><a routerLink="/computo"> <span class="pull-right"></span>Computadores de Mesa</a></li>
                  <li><a routerLink="/computo"> <span class="pull-right"></span>Portátiles</a></li>
                  <li><a routerLink="/computo"> <span class="pull-right"></span>Servidores</a></li>
                  <li><a routerLink="/computo"> <span class="pull-right"></span>Tableta</a></li>
                
              </div>
            </div><!--/brands_products-->
            
          </div>
        </div>
  
        
        <div class="Producto p-2 bd-highlight d-flex flex-row flex-column padding-right">  
            <h2 class="titleproducto text-center bd-highlight ">Productos</h2>
            
            <div class="input-group rounded pb-5 pt-2">
              <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
              aria-describedby="search-addon" />
              <span class="input-group-text border-0" id="search-addon">
                <i class="sl-icon-loop"></i>
              </span>
            </div>
            

            <div class="features_items"><!--features_items-->
            <div class="p-2 bd-highlight">
                <div class="single-products">
                  <div class="productinfo text-center">
                    <img class="h-25 w-25" src="assets\images\product\cable1.jpg"  alt="" />
                    <h2>Xtech</h2>
                    <p>Xtech - VGA cable - VGA (Male) Spliter</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="glyphicon glyphicon-shopping-cart"></i>Add to cart</a>
                  </div>
                </div>
                
            </div>

            <div class="p-2 bd-highlight">
                <div class="single-products">
                  <div class="productinfo text-center">
                    <img class="h-25 w-25" src="assets\images\product\cable2.jpg"  alt="" />
                    <h2>Xtech</h2>
                    <p>Xtech - VGA cable - VGA (Male) Spliter</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="glyphicon glyphicon-shopping-cart"></i>Add to cart</a>
                  </div>  
              </div>
            </div>

            <div class="p-2 bd-highlight">
                <div class="single-products">
                  <div class="productinfo text-center">
                    <img class="h-25 w-25" src="assets\images\product\Notebook1.jpg"  alt="" />
                    <h2>HP</h2>
                    <p>HP - Notebook - 15" - AMD Ryzen 3 4300U - 8 GB - 256 GB - Windows 10 Home - 1-year warranty</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="glyphicon glyphicon-shopping-cart"></i>Add to cart</a>
                  </div>               
              </div>
            </div>

            <div class="p-2 bd-highlight">
                <div class="single-products">
                  <div class="productinfo text-center">
                    <img class="h-25 w-25" src="assets\images\product\pc1.jpg"  alt="" />
                    <h2>HP</h2>
                    <p>HP - AIO 205 G4 - Actualizable a Windows 11 - 21.5" HD no Touch - AMD Athlon Silver 2.3 a 3.2Ghz 2Core</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="glyphicon glyphicon-shopping-cart"></i>Add to cart</a>
                  </div>                                             
              </div>
            </div>      
            

          </div><!--features_items-->
        </div>
      </div>
    
  </section>

