.features_items{
    display: grid;
	grid-template-columns: 30% 30% 30%;
    
}
.product-image-wrapper{
border: 1px solid crimson;
  height: 20rem;
  width: 15rem;
  margin: 0.5rem;
}

img {
    max-width: 10rem;
    max-height: 10rem;
}

.titleproducto{
  padding-top: 25px;
  padding-bottom: 40x;
}
