<div class="topbar" id="top">
    <div class="header6 d-flex justify-content-between">
        <div class="row ml-3">
        <a class="navbar-brand " routerLink="">
            <img class="img-top" src="assets/images/logos/edamatel.png" alt="edamatel" />
        </a>    
        </div>  
        <div class="row mr-3">
            <div class="round-social light">
              <a routerLink="#" class="link"><i class="fa fa-facebook"></i></a>
              <a routerLink="#" class="link"><i class="fa fa-twitter"></i></a>
              <a routerLink="#" class="link"><i class="fa fa-google-plus"></i></a>
              <a routerLink="#" class="link"><i class="fa fa-youtube-play"></i></a>
              <a routerLink="#" class="link"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="headernav">   
        <div class="row ml-3">
            <nav class="navbar navbar-expand-lg h6-nav-bar">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#h6-info"
                    aria-controls="h6-info" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="ti-menu"></span>
                </button>
                <app-banner-navigation></app-banner-navigation>
            </nav>
        </div>

        <div class="row list-unstyled mr-3">        
                <li class="nav-item ">
                    <a class="btn-top btn-danger-gradiant font-14" target="_blank" href="">
                        Ingresar
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="btn-top btn-danger-gradiant font-14" target="_blank" href="">
                        Hacerse Cliente
                    </a>
                </li>
            
        </div>
    </div>    
</div>  